/* VARIABLES */
:root {
  --colorPrincipal: #05AEEF;
  --colorSecundario: #92c5fc;
  --blanco: #FFF;
  --negro: #000;
  --timing-function: cubic-bezier(0.82, 0.2, 0.42, 1);
}

/* GLOBALES */
.App {
  margin: 0;
  padding: 0;
}
.bg {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
}
.container {
  margin: 0 auto;
  padding: 0;
  max-width: 1200px;
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}