/* HEADER */

.header {
    height: 6.75rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 2fr 1.5fr;
    
}

/* FILA 1 */
.fila-1 {
    background-color: var(--colorPrincipal);
    height: 5rem;
    grid-column-start: 1;
    grid-column-end: 3;
}

/* LOGO */
.logo {
    height: 4.5em;
    margin-left: 1.5em;
    width: 4.5em;
    position: absolute;
}

/* ICONS */

.icons {
    display: flex;
    direction: row;
    grid-column-start: 2;
    grid-column-end: 3;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}
/* SEARCH */
.search-div {
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 1.5em;
}

.search {
    height: 3.5em;
    transition: color 0.4s linear 0.1s;
}

.search:hover {
    color: var(--colorSecundario);
}

/* NAV */
.nav {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: var(--colorSecundario);
    height: 100%;
    width: 100%;
}
.nav-ul {
    margin-left: -1.5em;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    
}

.nav-ul-li {
    font-size: 1.25em;
}

.nav-ul-li a {
    text-decoration: none;
    color: var(--blanco);
    position: relative;
    font-weight:bold;
    margin: 0px 15px;
    transition: color 0.4s linear 0.1s;
}

.nav-ul-li a:after{
    position: absolute;
    bottom: 7px;
    left: 0px;
    width: 100%;
    height: 4px;
    background-color: var(--colorPrincipal);
    content: "";
    opacity: 0;
    transition: opacity 0.3s ease 0s, transform 0.3s ease 0s;
    transform: translateY(20px);
}
.nav-ul-li a:hover:after{
    opacity:1;
    transform: translateY(15px)
}

.nav-ul-li a:hover {
    color: var(--colorPrincipal);
}

@media (max-width: 486px) {
    .nav-ul-li{
        font-size: 1em;
    }
}
